<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>


    <application
        android:name="com.example.cosmonote.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoteBlocked" >

        <activity android:name="com.example.cosmonote.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.example.cosmonote.NoteWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/note_widget_info" />
        </receiver>

        <activity android:name="com.example.cosmonote.EditNoteActivity" />
        <activity android:name="com.example.cosmonote.NotesActivity" />

        <activity
            android:name="com.example.cosmonote.Settings.SettingsPreferencesActivity"
            android:theme="@style/Theme.NoteBlock.NoActionBar"
            android:label="@string/settings" />

        <!-- AdMob App ID (TEST). Remplace par ton vrai App ID en production -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7013455903622493~9579698462"/>

    </application>
</manifest>